* {
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", cursive;
    background-color: black;
    margin: 0;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x:0 !important;
}

.app-wrap {


    background-color: rgba(96, 126, 146, 0.863);
    border-radius: 250px;
    width: 550px;
    height: 430px;
    padding: 3em 3em 2.5em;
    margin: 25px auto 0;
    text-align: center;
    box-shadow: rgba(255, 255, 228, 0.589) 0px -9px 27px 5px;

    .container {
        position: relative;
        header {
            h2 {
                font-family: "Comfortaa", cursive;
                font-size: 35px;
                text-shadow: 3px 3px white;
                color: rgb(165, 1, 1);
                margin: -16px 0 15px;
            }

            #searchInput {
                margin: 5px 0 10px;
            }

            #searchBtn {
            }
        }

        #content {
            color: white;
            margin-top: 10px;
            animation: fadeIn 3s;

            #city {
                font-size: 40px;
                font-weight: 500;
                margin: 0 0 10px;
                color:black;
            }

            #date {
                font-size: 20px;
                color:black;
            }

            #temp {
                font-size: 60px;
                font-weight: bold;
                color: white;
                margin: 10px;
                
                span:nth-child(1) {
                    font-size: 20px;
                    color: rgb(0, 195, 255);
                }
                span:nth-child(2) {
                    font-size: 20px;
                    color: rgb(253, 114, 1);
                }
            }

            #feelTemp {
                color: rgb(253, 214, 141);
            }



            #weather {
                font-size: 20px;
                color: rgb(0, 0, 0);
            }

            #img {
                margin: -20px;
            }
        }
    }
}

.forecase-wrap {
    width: 70vw;
    margin: 15px auto 0;
    border-radius: 50px;
    width: 984px;
    height: 200px;
    animation: fadeIn 3s;

    .forecastContent {
        color: rgb(255, 255, 255);
        margin: 0;
        animation: fadeIn 3s;

        ul {
            width: 150px;
            margin: 0 5px;
            padding: 5px;
            list-style: none;
            display: inline-block;
            text-align: center;
            background-color: rgba(0, 18, 66, 0.836);
            border-radius: 25px;
            animation: fadeIn 3s;
            box-shadow: rgba(0, 0, 0, 0.589) 1px 3px 10px 3px;

            li {
                margin: 5px 0;
                text-align: center;
                animation: fadeIn 3s;
                p{
                    margin:10px 0 -10px;
                    font-size:25px;
                }
                img{
                    margin:-15px 0 -10px;
                }
            }


        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer {
    background-color: black;
    position: fixed;
    bottom:0;
    width: 100%;
    // margin-bottom:0;
    a {
        text-decoration: none;
        color: white;
    }
    .footer_container {
        margin: auto;
        width: 70vw;
        color: white;
        padding: 10px 0;
        font-size: 0.5em;
        text-align: center;

        a:hover {
            opacity: 0.8;

            .fa {
                transform: scale(1.3);
            }
        }

        .fa {
            margin: 0.1em 0.6em;
        }
    }
}