* {
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", cursive;
    background-color: black;
    margin:0;
}

.app-wrap {
    // background-image: url(../img/vancouver.jpg);
    // background-repeat:no-repeat;
    // background-size: cover;
    // background-position: bottom;
    // background-color: black;

    background-color: rgb(97, 128, 153);
    border-radius: 250px;
    width: 400px;
    height: 400px;
    padding: 3em 3em 2.5em;
    margin: 2em auto 0;
    text-align: center;

    .container {
        position: relative;
        header {
            h2 {
                font-family: "Comfortaa", cursive;
                font-size: 35px;
                text-shadow: 3px 3px white;
                color: rgb(165, 1, 1);
                margin: -20px 0 15px;
            }

            #searchInput {
                margin: 5px 0 10px;
            }

            #searchBtn {
            }
        }

        #content {
            color: white;
            margin-top: 10px;

            #city {
                font-size: 40px;
                font-weight: 500;
                margin: 0 0 10px;
            }

            #date {
                font-size: 20px;
            }

            #temp {
                font-size: 60px;
                font-weight: bold;
                color: white;
            }

            #feelTemp {
            }

            #minmaxTemp {
            }

            #weather {
                font-size: 30px;
            }
        }
    }
}

.forecase-wrap {
    width:70vw;
    margin: 45px auto;
    border-radius: 50px;
    width: 984px;
    height: 200px;

    .forecastContent {
        color: white;

        margin: 0;
        ul {
            width:150px;
            margin: 0 5px;
            padding: 5px;
            list-style: none;
            display:inline-block;
            text-align: center;
            background-color: gray;
            border-radius: 25px;

            li{
                text-align: center;
            }
        }
    }
}
